--- PAGE 1 ---
Проектная  работа  Цель: В  этом  ДЗ  необходимо  выбрать  и  утвердить  в  чате  по  ДЗ  темы  проекта,  
разработать
 
и
 
презентовать
 
проект.
 
 Описание  проекта  /  Техническое  задание  
Тема  Итоговой  Проектной  Работы  (далее  -  ИПР)  может  являться  свободной  для  
выбора,
 
но
 
необходимой
 
для
 
согласования
 
в
 
чате
 
ДЗ.
 
После  выбора  темы  необходимо  приступить  к  разработке  ИПР,  ориентируясь  на  
следующие
 
этапы
 
жизненного
 
цикла
 
разработки
 
Программного
 
Обеспечения:
 
1.  Сбор  и  анализ  требований 
Сформировать  собственные  требования  к  итоговому  продукту,  опционально  -  
провести
 
опрос
 
среди
 
коллег/студентов
 
для
 
определения
 
потенциальной
 
ценности
 
для
 
пользователей.
 
Определить
 
бизнес-задачу,
 
которую
 
будет
 
решать
 
проект.
 
Итоговые
 
требования
 
целесообразно
 
включить
 
в
 
презентацию
 
ИПР.
 
2.  Планирование 
На  данном  этапе  уточняются  и  формализуются  ключевые  цели  ИПР,  его  
границы
 
и
 
приоритеты.
 
Уточняется
 
список
 
автоматизируемых
 
процессов
 
(развёртывание,
 
миграции
 
БД
 
и
 
т.д.).
 
Выполняется
 
первичная
 
оценка
 
сроков,
 
необходимых
 
ресурсов
 
и
 
интеграций.
 
Также
 
на
 
данном
 
этапе
 
полезно
 
проанализировать
 
сторонние
 
проекты,
 
которые
 
могут
 
использоваться
 
для
 
решения
 
подобных
 
задач,
 
выявить
 
существующие
 
практики
 
в
 
данном
 
направлении
 
и
 
рассмотреть
 
целесообразность
 
их
 
внедрения
 
в
 
ИПР.
 
Результат
 
—
 
понятный
 
рабочий
 
план
 
ИПР,
 
с
 
оформленными
 
целями,
 
приоритетами,
 
объёмом
 
работ
 
и
 
ориентировочными
 
сроками.
 
Итоговый
 
рабочий
 
план
 
и
 
цели
 
целесообразно
 
включить
 
в
 
презентацию
 
ИПР.
 
3.  Проектирование  
На  данном  этапе  определяется  архитектура  ИПР,  происходит  выбор  
используемых
 
технологий,
 
прорабатываются
 
пользовательские
 
сценарии/
 
программные
 
интерфейсы
 
и
 
определяется,
 
как
 
будут
 
работать
 
ключевые
 
модули.
 
Важно
 
учесть
 
не
 
только
 
текущие
 
требования,
 
но
 
и
 
перспективу
 
масштабирования,
 
поддержки
 
и
 
безопасности
 
(Контейнеризацию,
 
возможности
 
по
 
авторизации/аутентификации,
 
способы
 
хранения
 
чувствительной
 
информации).
 
Итоговые
 
требования
 
и
 
технологии
 
целесообразно
 
включить
 
в
 
презентацию
 
ИПР.
 
 
 

--- PAGE 2 ---
4.  Разработка 
На  данном  этапе  создаётся  репозиторий  проекта,  пишется  код,  добавляемый  в  
репозиторий,
 
собирается
 
прототип
 
рабочей
 
версии
 
продукта,
 
подключаются
 
внешние
 
системы
 
и
 
реализуется
 
логика
 
и
 
взаимодействия,
 
заложенные
 
на
 
этапе
 
проектирования.
 
В
 
целях
 
оптимизации
 
разработки
 
и
 
снижения
 
рисков,
 
необходимо
 
активно
 
использовать
 
уже
 
проверенные
 
наработки:
 
сторонние
 
модули,
 
библиотеки
 
и
 
инструменты,
 
шаблоны
 
интеграций,
 
фреймворки.
 
5.  Тестирование 
На  данном  этапе  важно  проверять  корректность  написанного  функционала,  
реализованной
 
логики
 
а
 
также
 
корректность
 
передаваемых
 
данных
 
и
 
способы
 
обработки
 
ошибок.
 
Также
 
необходимо
 
предусмотреть
 
соответствующие
 
режимы
 
вывода
 
служебной
 
информации
 
для
 
различных
 
режимов
 
логирования,
 
что
 
в
 
будущем
 
позволит
 
обеспечить
 
простоту
 
и
 
прозрачность
 
поиска
 
ошибок.
 
Измеренное
 
покрытие
 
тестами
 
а
 
также
 
отчёт
 
о
 
тестировании
 
целесообразно
 
включить
 
в
 
презентацию
 
ИПР.
 
6.  Развертывание 
На  данном  этапе  необходимо  развернуть  проект  в  тестовой  среде  (в  будущем  
пригодной
 
к
 
демонстрации
 
на
 
защите
 
ИПР).
 
Необходимо
 
предусмотреть
 
прозрачность
 
и
 
документальное
 
обеспечение
 
процесса
 
развёртывания
 
(как
 
в
 
автоматизированном
 
так
 
и
 
в
 
ручном
 
режиме),
 
с
 
использованием
 
технологий
 
автоматизации
 
процесса
 
развёртывания,
 
непрерывной
 
интеграции
 
и
 
доставки
 
(CI/CD),
 
контейнеризации
 
также
 
с
 
механизмами
 
периодической
 
проверки
 
работоспособности
 
ИПР.
 
Краткую
 
и
 
обобщённую
 
документацию
 
по
 
развёртыванию
 
целесообразно
 
включить
 
в
 
презентацию
 
ИПР.
 
7.  Эксплуатация  и  мониторинг  
На  данном  этапе  необходимо  предусмотреть  реализацию  инструментов,  
имитирующих
 
эксплуатацию
 
ИПР
 
-
 
написать
 
примеры
 
запросов
 
к
 
сервису
 
или
 
примеры
 
использования
 
функций
 
с
 
отображением
 
результатов
 
работы.
 
Данные
 
инструменты
 
необходимо
 
реализовать
 
с
 
учётом
 
возможности
 
их
 
демонстрации
 
в
 
процессе
 
защиты
 
ИПР.
 
Также
 
необходимо
 
реализовать
 
возможность
 
демонстрации
 
журналов
 
логирования,
 
отражающих
 
эксплуатацию
 
ИПР
 
в
 
режиме
 
отладки
 
(Debug).
 
Инструменты,
 
имитирующие
 
эксплуатацию
 
ИПР
 
а
 
также
 
получаемые
 
сообщения
 
подсистемы
 
логирования
 
целесообразно
 
использовать
 
на
 
этапе
 
защиты
 
ИПР.
 
8.  Защита  Итоговой  Проектной  Работы 
На  данном  этапе  необходимо  предоставить  ссылку  на  репозиторий  с  
исходным
 
кодом
 
проекта,
 
а
 
также
 
подготовить
 
презентацию
 
к
 
защите
 
ИПР
 
в
 
2-х
 
вариантах,
 
соответствующих
 
следующим
 
критериям:
 

--- PAGE 3 ---
8.1.  Общая  презентация  ИПР  -  презентация,  рассчитанная  на  выступление  
приблизительной
 
длительностью
 
5
 
минут
 
(10-20
 
страниц)
 
из
 
расчёта
 
2-4
 
страницы
 
на
 
каждую
 
минуту
 
презентационного
 
выступления.
 
8.2.  Расширенная  презентация  ИПР  -  презентация,  рассчитанная  на  выступление  
приблизительной
 
длительностью
 
10
 
минут
 
(20-40
 
страниц)
 
из
 
расчёта
 
2-4
 
страницы
 
на
 
каждую
 
минуту
 
презентационного
 
выступления.
 
На  основе  выполненной  презентации  необходимо  подготовить  выступление  к  защите  
ИПР,
 
раскрывающее
 
тему
 
выполненного
 
проекта,
 
а
 
также
 
выполнение
 
перечисленных
 
выше
 
этапов
 
разработки.
 
 
Формат  сдачи:  
●  Выбрана  тема  и  закреплена.  ●  Разработан  проект  и  ссылка  на  репозиторий  отправлена  в  "чат  с  
преподавателем".
 ●  Разработана  презентация  в  2-х  вариантах,  в  соответствии  с  критериями  
оценки.
 ●  Проект  представлен  на  защиту.  
Критерии  оценки  
●  Корректность  выполнения  этапов  жизненного  цикла  разработки  проекта  (на  
основе
 
итоговой
 
презентации.
 ●  Корректность  написанного  исходного  кода  и  его  соблюдение  рекомендаций  
PEP8
 
(на
 
основе
 
отчета
 
о
 
результатах
 
тестирования
 
в
 
презентации).
 ●  Документация  по  развертыванию  проекта  (на  основе  презентации).  ●  Реализация  автоматизации  развёртывания,  наличие  контейнеризованной  
версии
 
проекта
 
(на
 
основе
 
презентации).
 ●  Наличие  реализации  конвейера  CI/CD  (на  основе  презентации).  ●  Применение  лучших  практик  хранения  чувствительных  данных  в  разработке.  ●  Демонстрация  работы  проекта  в  интерактивном  режиме  (на  основе  
выступления
 
на
 
защите)
 
с
 
применением
 
инструментов,
 
имитирующих
 
эксплуатацию
 
ИПР
 
а
 
также
 
с
 
демонстрацией
 
логов
 
работы
 
проекта
 
в
 
режиме
 
Debug.
 
Статус  "Принято",  если  проект  соответствует  не  менее  71%  критериев 

